
.login-card-container {
  margin: 0 auto;

  display: flex;
  flex-flow: column nowrap;

  .mat-card {
    margin: 0 16px 16px 0;
    width: 350px;
  }




}


.mat-button{
  margin:0 auto;
}

.login-card-actions {

/*  display: table-cell;*/
  justify-self: center;
}
