

<div style="width:100%;height:100%;top:20%;position: fixed;">

  <div style="width:20%; margin:0 auto;">


    <md-card class="mat-card">
      <md-toolbar style="background:blue; color:whitesmoke;">
        <h3 style="margin:0 auto;">Login</h3>
      </md-toolbar>

      <br>
      <md-card-content>
        <form (ngSubmit)="onSubmit(loginForm)" [formGroup]="loginForm" novalidate>

          <md-form-field>
            <input mdInput type="text" placeholder="User Id" formControlName="userId"/>
          </md-form-field>

          <md-form-field>
            <input mdInput type="password" name="password" placeholder="Password" formControlName="password"/>
          </md-form-field>

        </form>
      </md-card-content>

      <md-card-actions style="width:34%; margin:0 auto;">
        <button type="submit" md-raised-button [disabled]="loginForm.invalid" (click)="onSubmit()">Submit</button>
      </md-card-actions>
    </md-card>
  </div>

</div>

<div><router-outlet></router-outlet></div>
