@import '~@angular/material/theming';
<md-sidenav-container style="width:100%;" fullscreen>

  <md-sidenav mode="side" opened="true" style="width:11%;">
    <md-toolbar>
      <md-toolbar-row>
        <span><li class="mat-h3"><a class="mat-h3" routerLink='/main/corporations' routerLinkActive="active">Corporate Entities</a></li></span>
      </md-toolbar-row>
      <md-toolbar-row>
        <span><li class="mat-h3"><a class="mat-h3" routerLink='/main/individuals' routerLinkActive="active">Individual Entities</a></li></span>
      </md-toolbar-row>
    </md-toolbar>
  </md-sidenav>

  <md-toolbar class="mat-toolbar" color="primary">
    <div class="user-div" color="accent">Legal Entities</div>
    <button md-icon-button [mdMenuTriggerFor]="appMenu" >
      <md-icon>more_vert</md-icon>
    </button>

    <md-menu #appMenu="mdMenu" [overlapTrigger]="false">
      <button md-menu-item>
         Settings
      </button>
      <button md-menu-item (click)="logout()">
         Logout
      </button>
    </md-menu>
  </md-toolbar>

  <router-outlet></router-outlet>
</md-sidenav-container>





