@import '~@angular/material/theming';
<mat-sidenav-container style="width:100%;" fullscreen>

  <mat-sidenav mode="side" opened="true" style="width:11%;">
    <mat-toolbar>
      <mat-toolbar-row>
        <span><li class="mat-h3"><a class="mat-h3" routerLink='/main/corporations' routerLinkActive="active">Corporate Entities</a></li></span>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <span><li class="mat-h3"><a class="mat-h3" routerLink='/main/individuals' routerLinkActive="active">Individual Entities</a></li></span>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-sidenav>

  <mat-toolbar class="mat-toolbar" color="primary">
    <div class="user-div" color="accent">Legal Entities</div>
    <button mat-icon-button [mdMenuTriggerFor]="appMenu" >
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #appMenu="mdMenu" [overlapTrigger]="false">
      <button mat-menu-item>
         Settings
      </button>
      <button mat-menu-item (click)="logout()">
         Logout
      </button>
    </mat-menu>
  </mat-toolbar>

  <router-outlet></router-outlet>
</mat-sidenav-container>





