<div class="address-card" style="width: 100%">
  <h3 mat-dialog-title color="accent" style="width:100%;">Address</h3>
  <div mat-dialog-content>

    <form class="address-form" (ngSubmit)="onSubmit(addressForm)" [formGroup]="addressForm" novalidate>

      <mat-select placeholder="Address Type" formControlName="addressType">
        <mat-option *ngFor="let addressType of addressTypes" [value]="addressType.addressTypeId">
          {{addressType.addressTypeText}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="addressForm.get('addressType').hasError('required')">
        Address Type is <strong>required</strong>
      </mat-error>

      <mat-form-field class="address-form-full-width">
        <input matInput placeholder="Street" formControlName="street">
        <mat-error *ngIf="addressForm.get('street').hasError('required')">
          Street is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <table style="width: 100%" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="address-form-full-width">
              <input matInput placeholder="City" formControlName="city">
              <mat-error *ngIf="addressForm.get('city').hasError('required')">
                City is <strong>required</strong>ng
              </mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="address-form-full-width">
            <mat-select placeholder="State" name="state" formControlName="state">
              <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
            </mat-select>
            <mat-error *ngIf="addressForm.get('state').hasError('required')">
              State is <strong>required</strong>
            </mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="address-form-full-width">
              <input matInput #postalCode maxLength="5" placeholder="Postal Code" formControlName="zipCode"
                     pattern="[0-9]{5}" name="zipCode">
              <!--<mat-hint align="end">
                <mat-icon>mode_edit</mat-icon>
                <span aria-live="polite">{{address.zipCode.length}} / 5</span>
              </mat-hint>-->
              <mat-error *ngIf="addressForm.get('zipCode').hasError('required')">
                Postal Code is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>


    </form>

  </div>


  <div mat-dialog-actions class="btn-group">
    <button class="button" type="submit" mat-raised-button [disabled]="addressForm.invalid" (click)="onSubmit()">Submit</button>
    <button class="button" mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
  </div>

</div>
