


.address-card {
  margin: auto;
  width: 100%;
}

.address-form {
  width: 100%;
  height:100%;
  padding: 10px;
 // postion:fixed;
}


.address-form-full-width {
  width: 100%;
}






.address-form-textarea {
  resize: none;
  border: none;
  overflow: auto;
  padding: 0;
  background: lightblue;
}


/*
.btn-group .button {
  background-color: blue;
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  float: left;
}
*/


.md-dialog-title{
  width:100%;
  text-align: center;
}
